@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Mukta:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  background: #fff;
  color: black
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.responsive-test{
  @apply border sm:border-yellow-400 md:border-blue-400 lg:border-green-400 xl:border-red-400
}
