@import url("https://fonts.googleapis.com/css2?family=Inter+Inconsolata:wght@200;300;400;500;600;700;800&family=Inconsolata:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fff;
  color: black
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-second{
  font-family: Inconsolata;
}
.text-blue-900{
  color: #022658;
} 

.bg-blue-900{
  background-color: #022658;
} 

.bg-green-500{
  background-color: #03FC85;
} 

.text-green-500{
  color: #03FC85;
} 
